<div class="grid grid-cols-2 gap-5 bg-darkest relative px-6 py-8 rounded-lg">
  <figure>
    <img
      class="rounded-lg"
      src="https://conteudo.imguol.com.br/c/entretenimento/36/2022/05/22/gata-tricolor-gato-gatos-1653265224214_v2_3x4.jpg"
    />
  </figure>
  <div class="flex flex-col text-sm lg:text-base text-bgColor">
    <h4 class="text-2xl font-bold tracking-wide">Gatinho</h4>
    <p>Idade: {{ idade }} meses</p>
    <p>Vacinado: Sim</p>
    <p>Condição: Saudável</p>
    <p>Bairro: Pampulha</p>
    <footer class="flex gap-2 text-xl text-darkest absolute bottom-8">
      <button class="bg-green-400 px-2 py-1 rounded-lg">
        <i class="bi bi-whatsapp"></i></button
      ><button class="bg-green-400 px-2 py-1 rounded-lg">
        <i class="bi bi-telephone"></i>
      </button>
    </footer>
  </div>
</div>
