<main
  class="grid grid-cols-1 md:grid-cols-2 place-items-center justify-between md:mb-0 mb-10 px-8 pt-16"
>
  <div>
    <h2 class="lg:text-4xl text-3xl font-bold">
      Procurando uma maneira fácil e confiável de adotar seu novo pet?
    </h2>
    <p class="pt-4">
      Experiemente já a nossa plataforma Adote já e resolva seus problemas! Aqui
      você encontrará seu novo pet com facilidade e agilidade.
    </p>
    <span class="pt-6 block">
      Não perca tempo e <span class="font-bold">Adote</span>
      <span class="font-bold text-brand"> já</span>!
    </span>

    <div class="flex gap-3 pt-4">
      <a
        routerLink="/adotar"
        class="border-darkest border-2 rounded-full py-1 px-4 sm:hover:bg-darkest sm:hover:text-bgColor transition duration-300"
      >
        Gatos
      </a>
      <a
        routerLink="/adotar"
        class="border-darkest border-2 bg-darkest text-bgColor rounded-full py-1 px-4 sm:hover:bg-transparent sm:hover:text-darkest transition duration-300"
      >
        Cachorros
      </a>
    </div>
  </div>
  <div>
    <img
      width="450"
      src="../../../assets/Petting.svg"
      alt="imagem de e um gato e um cachorro em frente a um petshop"
    />
  </div>
  <div class="lg:-ml-28 order-4 md:order-3">
    <img
      width="500"
      src="../../../assets/Pet-Shop.svg"
      alt="imagem de e um gato e um cachorro em frente a um petshop"
    />
  </div>
  <div class="order-3 md:order-4">
    <h2 class="lg:text-4xl text-3xl font-bold">Sobre Nós</h2>
    <p class="pt-4">
      Somos uma plataforma de divulgação de animais em abrigos que residem em
      Belo Horizonte - MG. Temos como objetivo dar maior alcance e visibilidade
      a esses abrigos para ajudar tanto na adoção, quanto nas doações.
    </p>
    <span class="pt-6 block"
      >Esse projeto foi pensado e desenvolvido por Davi Samuel</span
    >
  </div>
</main>
